{
  "parser": "@typescript-eslint/parser", // specify that the TypeScript ESLint parser should be used to analyze TypeScript code.
  "extends": [
    "prettier", // integrate Prettier with ESLint for code formatting.
    "plugin:@typescript-eslint/recommended", // provide recommended rules for TypeScript code from the @typescript-eslint plugin.
    "plugin:react-hooks/recommended" // provide recommended rules for using React hooks.
  ],
  "plugins": ["@typescript-eslint"], // configuration uses the @typescript-eslint plugin.
  "parserOptions": {
    "ecmaVersion": 2018, // specify that the code is written in ECMAScript 2018 (ES9).
    "sourceType": "module", // indicate that the code is using modules (ES6 modules).
    "project": "./tsconfig.json" // specify the TypeScript project configuration file to use.
  },
  "env": {
    "node": true, // indicate that the code will run in a Node.js environment.
    "es6": true,
    "jest": true // indicate that ES6 (ECMAScript 2015) features are supported.
  },
  "rules": {
    "@typescript-eslint/no-inferrable-types": 0, // turn off the rule that flags unnecessary type declarations in TypeScript.
    "@typescript-eslint/no-unused-vars": 2, // set the rule that enforces no-unused-vars to an error level.
    "@typescript-eslint/no-var-requires": 0, // turn off the rule that disallows the use of require in TypeScript files.
    "eqeqeq": "error" // enforce strict equality (===) over loose equality (==) and sets it to an error level.
  }
}
